html {
  font-size: 18px;
}
body {
  font-family: "Yanone Kaffeesatz", sans-serif;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 400px) {
  html {
    font-size: 20px;
  }
}

a {
  text-decoration: none;
  color: black;
}

/*nav*/
nav {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  border-bottom: rgba(0, 0, 0, 0.05);
}
nav h1 {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 10px;
  font-size: 1.5rem;
}
#red {
  color: rgba(110, 20, 20, 0.753);
}
#blue {
  color: rgba(13, 48, 80, 0.575);
}
nav ul {
  display: inline-flex;
  list-style-type: none;
  gap: 20px;
  padding-right: 10px;
}
nav li :hover {
  color: rgb(158, 50, 50);
}
nav h1 :hover {
  color: #9e3232;
}
/*hero*/
header {
  color: #ffffff;
  background-image: url("./images/website-hero-mobile@2x.png");
  background-size: 100% 100%;
  height: 90vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}
.hero {
  font-size: 18px;
  margin-top: 350px;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}
.hero h2 {
  font-size: 1.5em;
  letter-spacing: 0.1em;
  align-self: flex-start;
}
.hero p {
  align-self: flex-start;
}
@media (orientation: landscape) {
  header {
    background-image: url("./images/website-hero-desktop@2x.png");
  }
  .hero h2 {
    font-size: 2em;
  }
}
/*skills + interests+contact*/
.infoboxes li {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  color: white;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.05);
  padding: 5px;
  margin: 5px 0;
  background-color: white;
  color: black;
}
.infoboxes {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: dense;
  font-size: 1.25rem;
  width: 100%;
  margin: 6rem auto;
}
.interestList {
  grid-row: 1 / span 2;
  grid-column: 1;
  list-style-type: none;
  margin-right: 35px;
}
#likedeli {
  color: white;
  background-color: rgba(110, 20, 20, 0.753);
  font-weight: bolder;
}
.skillsList {
  grid-row: 1 / span 2;
  grid-column: 3;
  list-style-type: none;
  margin-right: 35px;
}
#likenew {
  color: white;
  background-color: rgba(13, 48, 80, 0.575);
  font-weight: bolder;
}
.contact {
  grid-row: 1 / span 2;
  grid-column: 2;
  border-radius: 5px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.05);
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border: solid 1px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.05);
  background-color: white;
  font-size: 1rem;
  padding: 0.5rem;
}
*/ .contact aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  height: 128px;
  width: 100%;
}
.contact img {
  height: 128px;
  width: 128px;
  left: 16px;
  top: 16px;
  border-radius: 8px;
}
#go2contact {
  position: relative;
  bottom: 9rem;
}

/*socials-section*/
.socials {
  display: flex;
  flex-wrap: wrap;
  margin: 6rem 0;
}
#go2socials {
  position: relative;
  bottom: 10.5rem;
}
container {
  display: flex;
  align-items: center;
  gap: 24px;
  height: 160px;
  max-width: 250px;
  padding: 16px;
  background: #ffffff;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
}
container aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8rem;
  height: 128px;
  width: 100%;
}
container img {
  height: 128px;
  width: 128px;
  border-radius: 8px;
}
aside h3 {
  margin: 16px 0 8px 0;
}
.followme {
  display: flex;
  margin-top: 42px;
}
aside img {
  height: 20px;
  width: 20px;
  left: 2px;
  top: 2px;
  border-radius: 0px;
}
aside a {
  color: rgba(0, 0, 0, 0.267);
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
aside p :hover {
  color: rgb(158, 50, 50);
}
@media screen and (min-width: 400px) {
  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  container {
    margin: 24px auto;
  }
}

/*bigraphy and cv*/
.biography {
  padding: 16px;
  display: flex;
  gap: 35px;
  margin: 6rem 0;
}
.aboutme {
  width: 50%;
  min-height: 100vh;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
}
.aboutme h4 {
  background-color: rgba(110, 20, 20, 0.753);
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}
#go2biography {
  position: relative;
  bottom: 7rem;
}
.cv {
  width: 50%;
  min-height: 100vh;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
}
.cv h4 {
  background-color: rgba(13, 48, 80, 0.575);
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

/*footer*/
footer {
  background-color: white;
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding: 0 5px;
}

.copy {
  flex-grow: 1;
  margin: auto 5px;
}
